[Unit]
Description=Bluetooth AP6275P
After=bluetooth.target

[Service]
Type=forking
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/lib/scripts/ap6275p-bluetooth.sh
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target