[Unit]
Description=Filesystem resize
Before=basic.target
After=sysinit.target local-fs.target
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/scripts/resize-filesystem.sh
TimeoutStartSec=6min

[Install]
WantedBy=basic.target
