[Unit]
Description=Reload RTL8852BE 
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/lib/scripts/rtl8852be-reload.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
